extends ../common
block header
  h1 Library
  h3 Edit book's information &nbsp;
  a.btn.btn-secondary(href='/books') Back to book management
block content
  form(action='/books/upd' method='post')
    input(type='text' name='id' value=chosenBook.id hidden)
    label Title:
      input(type='text' name='title' value=chosenBook.title required)
    label Description:
      input(type='text' name='description' value=chosenBook.description)
    button.mt-3.btn.btn-primary(type='submit') Update this book
  hr
  table.table.table-lg.col
    legend Book list
    tr
      th Book title
      th(colspan='4') Description
    each book in books
      tr
        td= book.title
        td= book.description
