link(rel="stylesheet" href="style.css")
h1 Transactions
h3 Add new transactions &nbsp;
  a(href='/trans')
    button
      b Back to transaction list
form(action='' method='post')
  select(name='userId')
    optgroup(label='Select an user')
    each user in users
      option(value=user.id) #{user.username}
  select(name='bookId')
    optgroup(label='Select a book')
    each book in books
      option(value=book.id) #{book.title}
  div
    button(type=submit)
      em Create transaction