extends ../common
block content
  h1 User management
  h3 Edit user's information &nbsp;
    a(href='/users')
      button Back to user management
  form(action='/users/upd' method='post')
    input(type='text' name='id' value=chosenUser.id hidden)
    div
      label Username: 
      div
        input(type='text' name='username' value=chosenUser.username required)
    div
      label Email:
      div
        input(type='email' name='email' value=chosenUser.email)
    button(type='submit') Update this user
  h3 User list
  ul
    each user in users
      li
        div
          b #{user.username} &nbsp;
          p Email: #{user.email}