extends ../common
block header
  h1 User management
  h3 Edit user's information &nbsp;
  a.btn.btn-secondary(href='/users') Back to user management
block content
  form(action='/users/upd' method='post')
    input(type='text' name='id' value=chosenUser.id hidden)
    label Username: 
      input(type='text' name='username' value=chosenUser.username required)
    label Email:
      input(type='email' name='email' value=chosenUser.email)
    button.mt-3.btn.btn-primary(type='submit') Update this user
  table.table.table-lg.col
    legend User list
    each user in users
      tr
        td= user.username
        td= user.email  