h1 Library
h2 Edit book's information
form(action='/books/upd' method='post')
  input(type='text' name='id' value=chosenBook.id hidden)
  div
    label Title: 
    div
      input(type='text' name='title' value=chosenBook.title required)
  div
    label Description:
    div
      input(type='email' name='email' value=chosenBook.description)
  button(type='submit') Update this book
a(href='/books')
  button Back to book management
h3 User list
ul
  each user in users
    li
      div
        b #{user.username} &nbsp;
        a(href='/users/del/' + user.id)
            button Delete
        p Email: #{user.email}